<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.ubiobio.vriders">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"

        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".UnirseARuta"/>
        <activity android:name=".CrearRuta" />
        <activity android:name=".CrearOUnirRuta" />
        <activity android:name=".Registro" />
        <activity android:name=".buscarruta"/>
        <activity android:name=".CrearRuta" />
        <activity android:name=".CrearOUnirRuta" />
        <activity android:name=".Registro" />
        <activity
            android:name=".IniciarSesion"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>